@import "tailwindcss";
@import url(https://db.onlinewebfonts.com/c/f9ce8709ed9126ad00b92098b0060cb1?family=PAG+Bankas+W00+Regular);

@font-face {
    font-family: "PAG Bankas W00 Regular";
    src: url("https://db.onlinewebfonts.com/t/f9ce8709ed9126ad00b92098b0060cb1.eot");
    src: url("https://db.onlinewebfonts.com/t/f9ce8709ed9126ad00b92098b0060cb1.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/f9ce8709ed9126ad00b92098b0060cb1.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/f9ce8709ed9126ad00b92098b0060cb1.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/f9ce8709ed9126ad00b92098b0060cb1.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/f9ce8709ed9126ad00b92098b0060cb1.svg#PAG Bankas W00 Regular")format("svg");
}

/* @import url(https://db.onlinewebfonts.com/c/ea250342ec4016561ba9e791c2f39c11?family=Posterama+2001+W04+Regular);
@font-face {
    font-family: "Posterama 2001 W04 Regular";
    src: url("https://db.onlinewebfonts.com/t/ea250342ec4016561ba9e791c2f39c11.eot");
    src: url("https://db.onlinewebfonts.com/t/ea250342ec4016561ba9e791c2f39c11.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/ea250342ec4016561ba9e791c2f39c11.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/ea250342ec4016561ba9e791c2f39c11.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/ea250342ec4016561ba9e791c2f39c11.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/ea250342ec4016561ba9e791c2f39c11.svg#Posterama 2001 W04 Regular")format("svg");
} */
/* @font-face {
  font-family: 'text-default';
  src: url("/src/assets/fonts/myriadroman/MYRIADPRO-REGULAR.OTF");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */
@font-face {
  font-family: 'text-default';
  src: url("/src/assets/fonts/AkzidGrtskNext-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* @font-face {
  font-family: 'text-default';
  src: url("/src/assets/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */
/* @font-face {
  font-family: 'text-header';
  src: url("/src/assets/fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */
body{
  overflow-x: hidden;
  background-color: #2f333a;
}

@theme {
  --color-primary: #2f333a; 
  --color-secondary: #a9aaad; 
  --color-primary-button: #007BFF; 
  --color-secondary-button: #008080;
  --color-accent: #2be031;

  --font-text-header: 'PAG Bankas W00 Regular', sans-serif;
  
  --font-text-default: 'text-header', sans-serif;
  /* --font-text-header: 'text-header', sans-serif; */
}

.text-secondary {
  @apply text-gray-200 font-text-default;
  /* font-family: "text-default"; */
}

.text-secondary-nav {
  @apply text-yellow-300 font-text-header;
  /* font-family: "text-default"; */
}

.text-accent {
  @apply text-green-500 font-text-header;
  /* font-family: "text-default"; */
}

/* Example of using a background gradient based on your primary color (subtle) */
.main-container-primary-gradient {
  @apply rounded-lg p-4;
  background-image: url('./assets/logo-background.png');
  background-size: 65% auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; /* Makes it sticky */
  z-index: 0;
  position: relative;
}

/* Rotate background on small screens */
@media (max-width: 768px) {
  .main-container-primary-gradient {
    background-image: url('./assets/rotated-logo-background.png');
    background-size: 85% auto;
    background-position: center center;
  }
}

/* In your CSS file or in a style tag */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #9ca3af; /* Tailwind gray-400 */
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}